<div class="marketwatch-tab" ngResizable ngDraggable id="marketwatch" style="display:block;">
    <button type="button" class="close" aria-label="Close" (click)="closewindow()">
      <span aria-hidden="true">&times;</span>
    </button>
    <!-- <span class="min" style="color:rgba(255, 255, 255, 0.356);">_</span> -->
    <div class="header-dw">Announcement</div>
    <div class="row" id="anc-blk">
      <!-- <div class="col-md-12"></div> -->
      <div class="col-md-12 mt-1" *ngFor="let m of announcement">
      <div class="bodytop">{{m.slug|uppercase }}</div>
      <div class="dscbody"><a href="{{m.link}}">{{m.link}}</a></div>
    </div>
      <!-- <div class="bodytop">News...1</div>
      <div class="dscbody"></div> -->
    
    </div>
    <!-- <div class="row">
     
      <div class="bodytop">News...2</div>
      <div class="dscbody"></div>
    </div> -->
    <!-- <div class="row">
      <div class="col-md-12"></div>
      <div class="bodytop">News...3</div>
      <div class="dscbody"></div>
    </div> -->
  </div>