.order-tab{
    /* width:352px;
    height:810px; */
    border:1px solid rgb(19,23,34);
    background-color:rgb(19,23,34);
    border:1px solid rgb(155, 158, 158) ;
    padding-left: 4px;
    padding-right: 5px;
}
/* .border-col{
    border-right:2px  solid rgb(8, 56, 2) ;
} */
/* .header-dw{
    width:290px;
    background-color: rgb(60, 144, 212);
    text-align: center;
} */
.err-msg{
  font-size: 15px;
    margin-left: 126px;
    margin-top: 126px;
    position: relative;

}
.header-dw{
  width: 100%;
  position: absolute;
  left: 1px;
  background-color: rgb(0, 0, 0);
  text-align: center;
  height: 17px;
  font-size: 13px;
  color: rgb(97, 91, 91);
  margin-top: -16px;
  margin-left: -1px;
}
button.close {
 
  position: absolute;
  z-index: 1;
  left: 483px;
  margin-top: -20px;
  padding: 0
}
.ng-draggable {
    cursor: grab;
  }
   
  .ng-dragging {
    cursor: grabbing;
  }
  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .asset-pan{
      /* height:10px;
      background-color: rgb(29, 27, 27);
      color: rgb(73, 62, 62); */
      height: 21px;
      width: 293px;
      margin-left: -21px;
      background-color: rgb(29, 27, 27);
      color: rgb(104, 91, 91);
  }
  /* .mat-expansion-panel{
    border:1px solid rgb(129, 112, 112) ;
    background-color: rgb(158, 144, 144); 
  } */
  mat-panel-title{
    /* background-color: rgb(70, 61, 61);  */
   color: white;
  }
  .mat-expansion-panel {
    border: 1px solid rgb(129, 112, 112);
    background-color: rgb(19,23,34);
    margin-top: 2px;
}
.mat-col {
  background: black;
}
/*color--------- rgb(19,23,34) */


.lbl-fnt{
    font-size: 12px;
    color: rgb(129, 112, 112);
    height: 4px;
}  
.asset-pan-des{
  height: 25px;
      width: 293px;
      margin-left: -21px;
      background-color: rgb(29, 27, 27);
      color: rgb(104, 91, 91);
}
.asset-pr{
  border:1px solid rgb(104, 91, 91);
  height:23px;
}
.select-pan{
  background-color: rgb(39, 35, 35);
  border: 1px;
  color: rgb(104, 91, 91);
  width:129px;
}
.asset-big{
  /* width: 293px; */
  height: 60px;
  margin-left: -6px;
border-right:8px solid rgb(104, 91, 91);
background-color: black;
}
.asset-wid{
  width: 121%;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  /* padding: 8px; */
}

/* #tabletwo tr:nth-child(2) {
  background-image: linear-gradient(blue,black)
}
#tabletwo tr:nth-child(3) {
  background-image: linear-gradient(blue,black)
}
#tabletwo tr:nth-child(4) {
  background-image: linear-gradient(blue,black)
}
#tabletwo tr:nth-child(5) {
  background-image: linear-gradient(blue,black);
} */
/* #table2 tr:nth-child(6) {
  background-image: linear-gradient(blue,black);
}
#table2 tr:nth-child(7) {
  background-image: linear-gradient(blue,black);
}
#table2 tr:nth-child(8) {
  background-image: linear-gradient(blue,black);
}
#table2 tr:nth-child(9) {
  background-image: linear-gradient(blue,black);
} */
/* #table2 tr:nth-child(odd) {
  background-image: linear-gradient(red,black);
}
#table2 tr:nth-child(even) {
  background-image: linear-gradient(blue,black)} */

#tableoneO td:first-child {
  background-image: linear-gradient(red,black)
   /* first column */ }

#tableoneO td:first-child + td {
  background-image: linear-gradient(red,black)}

#tableoneO td:first-child + td + td {
  background-image: linear-gradient(red,black)
}

#tabletwo td:first-child {
  background-image: linear-gradient(blue,black)
   /* first column */ }

#tabletwo td:first-child + td {
  background-image: linear-gradient(blue,black)}

#tabletwo td:first-child + td + td {
  background-image: linear-gradient(blue,black)
}
  
    /* #table1 td:first-child + td + td +td +td +td{
      background-image: linear-gradient(blue,black) }
      #table1 td:first-child + td + td +td +td +td +td{
        background-image: linear-gradient(blue,black)}
        #table1 td:first-child + td + td +td +td +td +td +td{
          background-image: linear-gradient(blue,black)}
          #table1 td:first-child + td + td +td +td +td +td +td{
            background-image: linear-gradient(blue,black)}
            #table1 td:first-child + td + td +td +td +td +td +td +td+td{
              background-image: linear-gradient(blue,black)} */

/*-----01.05.2020-----*/
#orderbook-dropdown-block {
  width: 100%;
  margin: 0 0 0px;
  padding: 5px;
  background: #19181a;
  border: 1px solid rgb(117, 111, 111);
}
.orderbook-title {
  background:rgb(19,23,34);
  padding: 5px 10px;
  /* margin: 0 0 10px; */
}
.log-tb{
  padding: 5px 10px;
  color: rgb(158, 159, 160);
}
.orderbook-title h3 {
  font-size: 14px;
  color: #fff;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

#orderbook-coins,
#orderbook-fiets,
#orderbook-spots {
  width: 100%;
  margin: 0 0 10px;
  padding: 5px;
  background: #201f20;
  color: rgb(204, 201, 201);
  border: rgb(19,23,34);
  outline: none;
}
.textsp{
  color:aliceblue;
  font-size:12px;
}
#orderbook-coins:hover,
#orderbook-fiets:hover,
#orderbook-spots:hover { 
  outline: none !important;
}

#buy-sell-data-block {
  width: 100%;
  margin: 0 0 5px;
  padding: 0;
  background: #19181a;
  border: 1px solid rgb(117, 111, 111);
}
#buy-sell-data-block h4 {
  font-size: 13px;
}
#buy-sell-data-block .buy-blk {
 padding: 5px 0 0;
 background-image: linear-gradient(blue,blue);
}
#buy-sell-data-block .sell-blk {
  padding: 5px 0 0;
  background-image: linear-gradient(red,red);
}
#buy-sell-data-block .btcusd-blk {
  border-left: 1px solid rgb(83, 81, 81);
  border-right: 1px solid rgb(83, 81, 81);
  border-bottom: 1px solid rgb(83, 81, 81);
  padding: 5px 0 0;
}
#buy-sell-data-block h5 {
  font-size: 20px;
  padding: 20px 0;
}
#buy-sell-data-block .rt-bdr {
  border-right: 1px solid rgb(83, 81, 81);
  /* background-color: blue; */
  background-image: linear-gradient(blue,black);
}
#buy-sell-data-block .btlt-bdr {
  border-right: 1px solid rgb(83, 81, 81);
  border-top: 1px solid rgb(83, 81, 81);
  border-left: 1px solid rgb(83, 81, 81);
}
#buy-sell-data-block .btrt-bdr {
   border-right: 1px solid rgb(83, 81, 81);
  border-top: 1px solid rgb(83, 81, 81);
}
#buy-sell-data-block h6 {
  font-size: 13px;
  padding: 8px 0 0;
}
/*-----01.05.2020-----*/
.min {
  position: absolute;
  left: 467px;
  z-index: 1;
  top: -6px;

}
.testb{
  
  background-color: #bb2a2a !important;
 
}
.tests{
  
  background-color: #2779bd !important;
 
}
div .item{
  border: 1px slid white;
}
#table3 td:first-child {
  background-color: black;
  border: 1px solid rgb(83, 81, 81);
   }
   #table3 td:first-child +td{
    background-color: black;
    border: 1px solid rgb(83, 81, 81);
     }
     #table3 table { border:2px soli rgb(83, 81, 81); }
#table3 th:first-child {
  background-color: black;
  border: 1px solid rgb(83, 81, 81);
}
#table3 th:first-child +th{
  background-color: black;
  border: 1px solid rgb(83, 81, 81);
}
  
  .btnspaceright{
    margin-top: 10px;
margin-right: 20px;
  }
  .text-space{
    width:396px;
    height:95px;
    background-color:#454040;
    /* position: absolute; */
}
.alert-dev{
  width:400px;
  background-color: red;
}
.lbl-text{
color: rgb(117, 111, 111);
font-family: 'Times New Roman', Times, serif;
font-size: 12px;
margin-top: 1px;
margin-left: 9px;
}
.view-sp{
border-top: 1px solid rgb(117, 111, 111);
border-right: 1px solid rgb(117, 111, 111);
color: rgb(117, 111, 111); 
font-family: 'Times New Roman', Times, serif;
font-size: 12px;
width: 45px;
margin-bottom: 0px;
}

  .ortext{
    width:82px
  }
.fix-box{
  /* border: 1px solid rgb(117, 111, 111);  */
  margin: 0px;
  padding: 0px;
}

 .tbl-space{
  
 margin-left: -26px;
}
div#tableoneO {
  /* margin: 0; */
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  float: left;
  height:238px;
  overflow-x: auto;
  /* background-color: black; */
  
}
div#tabletwo {
  /* margin: 0; */
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  float: left;
  height:238px;
  overflow-x: auto;
}
.tableoneO::-webkit-scrollbar{
  background: rgb(231, 58, 58); 
  border-radius: 9px;
  width: 5px;
}
.tabletwo::-webkit-scrollbar{
  background: rgb(16, 53, 177); 
  border-radius: 9px;
  width: 5px;
}
/* gggggggggggggg */
.topspace{
  margin-top: 17px;
}
#myInput1 {
  background-image: url('../../assets/img/searchiconf.png');
 
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  color:black;
  background-color: white;
}
.asset-ln{
  width: 30px;
  display: block;
}
.asset-coin{
  width: 105px;
  display: block;
}
div#asset-table {
  width: 30px;
  margin-left: 28px;
  
}
.space-up{
  margin-top: -10px;

}

