<div ngResizable class="drag-block-lg order-tab" id="dataTab" style="display:block;">
  <mat-accordion class="mat-col">
    <!-- <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ASSETS
        </mat-panel-title>
        <mat-panel-description>


        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput type="number" min="1">
       
      </mat-form-field>
    </mat-expansion-panel> -->

    <mat-expansion-panel #matExpansionPanel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Orderbook
        </mat-panel-title>
        <mat-panel-description>
          <!-- Type your name and age -->
        </mat-panel-description>
      </mat-expansion-panel-header>


      <!--01.05.2020-->
      <div class="row">
        <div class="col-md-12 fix-box">
          <div class="row ">
            <div id="orderbook-dropdown-block">
              <div class="row">
                <div class="col-md-12">
                  <div class="orderbook-title">
                    <h3>Bitcoin - US Dollar - FX Pair</h3>
                  </div>
                </div>
              </div>
              <div class="row">

                <div class="col-md-6 col-sm-12 topspace" *ngIf="exchange !='Coinbasepro'">
                  <input type="text" class="form-control" id="myInput1"  (click)="myFunction()" (keyup)="filterFunction()" [value]="data.symbol" placeholder="Search for assets.." title="Type in a name">
                  <ul class="dropdown-menu space-up" role="menu" id="myDropdown">
                    <div class="table-hight solid" id="asset-table">
                   
                    <span class="ml-3" *ngFor="let a of assets"><a class="asset-ln" href="javascript:void(0);" (click)="Getasset(a.symbol)">{{a.symbol}}</a></span>
                    
            
                    </div>
                  </ul>
                 

                </div>
                <div class="col-md-6 col-sm-12 topspace" *ngIf="exchange =='Coinbasepro'">
                  <input type="text" class="form-control" id="myInput1"  (click)="myFunction()" (keyup)="filterFunction()" [value]="data.symbol" placeholder="Search for assets.." title="Type in a name">
                  <ul class="dropdown-menu space-up" role="menu" id="myDropdown">
                    <div class="table-hight solid" id="asset-table">
                   
                    <span class="ml-3" *ngFor="let a of assets"><a class="asset-coin" href="javascript:void(0);" (click)="Getasset(a.id)">{{a.id}}</a></span>
                    
            
                    </div>
                  </ul>
                 

                </div>

                <div class="col-md-6 col-sm-12">
                  <span class="lbl-text">Exchange</span>
             
                  <select id="orderbook-fiets" (change)="getExchange($event.target.value)">
                
                    <option value="Binance">Binance</option>
                    <option value="Coinbasepro">Coinbasepro</option>
                  </select>

                </div>

                <!-- <div class="col-md-6 col-sm-12">
                  <span class="lbl-text">Market Type</span>
                  <select id="orderbook-spots">
                   
                    <option value="Connect">SPOT</option>
                   
                  </select>

                </div> -->

              </div>
            </div>



            <div id="buy-sell-data-block">

              <div class="row">

                <div class="col-md-4 col-sm-12 text-center buy-blk">
                  <div class="row">
                    <div class="col-md-12">
                      <h4 style="color: #e73030">BUY {{data.SelectedBuyasset}}</h4>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-sm-12 text-center btcusd-blk">
                  <div class="row">
                    <div class="col-md-12">
                      <h4 style="color:aliceblue">{{data.Lasttraderprice}}</h4>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-sm-12 text-center sell-blk">
                  <div class="row">
                    <div class="col-md-12">
                      <h4 style="color: blue;">SELL {{data.SelectedSellasset}}</h4>
                    </div>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-md-6 col-sm-12 text-center rt-bdr">
                  <h5 (click)="warnb(buyconfirm,binanceService.askpricelowest)"><a href="javascript:void(0);"
                      style="color:aliceblue">{{binanceService.askpricelowest|number : '.8-8'}}</a></h5>
                </div>
                <div class="col-md-6 col-sm-12 text-center" style="background-image:linear-gradient(red,black);">
                  <h5 style="color:aliceblue" (click)="warns(sellconfirm, binanceService.bidpricehighest)"><a
                      href="javascript:void(0);" style="color:aliceblue">{{binanceService.bidpricehighest|number : '.8-8'}}</a></h5>
                </div>
              </div>

              <div class="row">

                <div class="col-md-3 col-sm-12" style="background-image: linear-gradient(black,blue);"></div>

                <div class="col-md-3 col-sm-12 text-center btlt-bdr">
                  <div class="row">
                    <div class="col-md-12">
                      <h6 style="color:rgb(248, 240, 240);">{{binanceService.askamtlowest|number : '.3-3'}}</h6>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 col-sm-12 text-center btrt-bdr">
                  <div class="row">
                    <div class="col-md-12">
                      <h6 style="color: rgb(247, 240, 240);">{{binanceService.bidamthigest|number : '.3-3'}}</h6>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 col-sm-12" style="background-image:linear-gradient(black,red)"></div>

              </div>

            </div>
          </div>
          <div class="row">
            <!-- <p class="view-sp text-center"><a (click)="showtableone()" href="javascript:void(0);">view1</a></p> -->
            <!-- <p class="view-sp text-center" (click)="showtabletwo()"><a (click)="showtabletwo()"
                href="javascript:void(0);">view2</a></p>
            <p class="view-sp text-center">view3</p>
            <p class="view-sp text-center">view5</p>
            <p class="view-sp text-center">view6</p>
            <p class="view-sp text-center">view7</p>
            <p class="view-sp text-center">view8</p> -->

            <!-- <button class="btn btn-dark btn-sam" (click)="showtableone()">VIEW1</button> <button
          class="btn btn-dark btn-sam" (click)="showtabletwo()">VIEW2</button> -->
          </div>
          <!--01.05.2020-->
            
          <div class="row" style="height: 225px;padding: 6px">
            <div class="col-md-6 tableoneO" id="tableoneO">
              <table>
                <tr>

                  <th>AskPrice</th>
                  <th>AskQty</th>
                  <th>AskAmt</th>
                </tr>
                <tr *ngFor="let o of binanceService.askdata;let i = index;" class="bidheight" >
                 
                  <!-- <td *ngIf="o.mdUpdateAction=='0'"><a href="javascript:void(0);"
                      (click)="warns(sellconfirm,o.mdEntryPrice)"(click)="warns(sellconfirm,o[0]|number)"
                      style="color:springgreen;">{{o.mdEntryPrice|number : '.2-2'}}</a></td> -->
                  <td ><a href="javascript:void(0);"style="color:aliceblue;"  (click)="warns(sellconfirm,o[0])">{{o[0]|number : '.8-8'}}</a></td>
                  <td><a href="javascript:void(0);"style="color:aliceblue;"  (click)="warns(sellconfirm,o[0])">{{o[1]|number : '.3-3'}}</a></td>
                  <td><a href="javascript:void(0);" style="color:aliceblue;"  (click)="warns(sellconfirm,o[0])">{{o[0]*o[1]|number : '.2-2'}}</a></td>
                
                </tr>
                <tr>
                  <p class="text-white err-msg" *ngIf="askdata==''">No data</p>
                </tr>
              </table>
            </div>
            <div class="col-md-6 tabletwo" id="tabletwo">
              <table>
                <tr>

                  <th>BidPrice</th>
                  <th>BidQty</th>
                  <th>BidAmt</th>
                </tr>
                <tr *ngFor="let o of binanceService.biddata;let i = index;" class="bidheight">
                  <td><a href="javascript:void(0);" 
                      style="color:aliceblue;"  (click)="warnb(buyconfirm,o[0])">{{o[0]|number : '.8-8'}}</a></td>
                  <td><a href="javascript:void(0);" 
                      style="color:aliceblue;" (click)="warnb(buyconfirm,o[0])">{{o[1]|number : '.3-3'}}</a></td>
                  <td><a href="javascript:void(0);" 
                      style="color:aliceblue;" (click)="warnb(buyconfirm,o[0])">{{o[0]*o[1]|number : '.3-3'}}</a></td>
                </tr>
              </table>
            </div>
          </div>

          <div class="row tbl-space" id="table2" style="display:none;">
            <table>
              <tr>
                <th>Company</th>
                <th style="background-color: #444242;">MyAsk</th>
                <th>Country</th>
                <th>Country</th>
                <th>Country</th>
                <th>Country</th>
                <th>Country</th>
                <th>Country</th>
                <th style="background-color: #444242;">MyBid</th>
                <th>Country</th>
              </tr>
              <tr>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td style="background-color: #444242;"><a href="javascript:void(0);"
                    (click)="warn(buyconfirm)">Germany</a>
                </td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td style="background-color: #444242;"><a href="javascript:void(0);" (click)="warn(buyconfirm)">Ernst
                    Handel</a></td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>

              </tr>
              <tr>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)"><a href="javascript:void(0);"
                      (click)="warn(buyconfirm)">Germany</a></a></td>
                <td style="background-color: #444242;"><a href="javascript:void(0);"
                    (click)="warn(buyconfirm)">Germany</a>
                </td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td style="background-color: #444242;"><a href="javascript:void(0);"
                    (click)="warn(buyconfirm)">Germany</a>
                </td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
              </tr>
              <tr>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Ernst Handel</a></td>
                <td style="background-color: #444242;"><a href="javascript:void(0);"
                    (click)="warn(buyconfirm)">Germany</a>
                </td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td style="background-color: #444242;"><a href="javascript:void(0);"
                    (click)="warn(buyconfirm)">Germany</a>
                </td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Ernst Handel</a></td>
              </tr>
              <tr>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td style="background-color: #444242;"><a href="javascript:void(0);"
                    (click)="warn(buyconfirm)">Germany</a>
                </td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td style="background-color: #444242;"><a href="javascript:void(0);"
                    (click)="warn(buyconfirm)">Germany</a>
                </td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
              </tr>
              <tr>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td style="background-color: #444242;"><a href="javascript:void(0);"
                    (click)="warn(buyconfirm)">Germany</a>
                </td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td style="background-color: #444242;"><a href="javascript:void(0);"
                    (click)="warn(buyconfirm)">Germany</a>
                </td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
              </tr>
              <tr>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td style="background-color: #444242;"><a href="javascript:void(0);"
                    (click)="warn(buyconfirm)">Germany</a>
                </td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
                <td style="background-color: #444242;"><a href="javascript:void(0);"
                    (click)="warn(buyconfirm)">Germany</a>
                </td>
                <td><a href="javascript:void(0);" (click)="warn(buyconfirm)">Germany</a></td>
              </tr>
            </table>

          </div>
        </div>
      </div>
    </mat-expansion-panel>
    <!-- <mat-expansion-panel>
     
    </mat-expansion-panel> -->
    <!-- <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Exchange logs
        </mat-panel-title>
        <mat-panel-description>
         
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="row">

        <div class="log-tb">
         
          <p>Exchange Name : <span class="textsp">{{exchangename}}</span></p>
          <p >Connection Status : <span class="textsp">Connected</span></p>
          <p >Connection Status : <span class="textsp">Disconected</span></p>

        </div>

      </div>
     

    </mat-expansion-panel>
     -->
  </mat-accordion>

</div>

<ng-template #content let-modal>

  <div class="test">

    <div class="modal-header">
      <h4 class="modal-title"></h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
      <span class="min" style="color:rgba(255, 255, 255, 0.356);">_</span>
      <div class="header-dw">Violated Compleance</div>
    </div>
    <div class="row">
      <img src="../../assets/img/exclametion.jpg" height="100px" width="100px"
        style="background-color: black;margin-left: 15px;">
      <div class="text-space">
        <h3 style="color: red;">National(USD)</h3>
        <h5 style="color: red;">This order exceeds the minimumper-order trade value</h5>
        <!-- <label>Order value</label>
      <input type="text"> -->

      </div>


    </div>




    <div class="modal-footer">
      <button class="gen-button btnspace" (click)="modal.close()">cancel</button>
      <button class="gen-button btnspaceright" (click)="modal.close()">Ok</button>
      <!-- <div class="header-dw">Violated Compleance</div> -->
    </div>
  </div>
</ng-template>
<ng-template #sellconfirm let-modal>
  <div class="testb">
    <div></div>
    <div class="modal-header">
      <h4 class="modal-title"></h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
      <span class="min" style="color:rgba(255, 255, 255, 0.356);">_</span>
      <div class="header-dw">Order confirmation-send</div>
    </div>
    <div class="modal-body">
      <div class="row">
        <p class="view-order text-center">Exch</p>
        <p class="view-order text-center">Product</p>
        <p class="view-order text-center">Stock</p>
        <p class="view-order text-center">Quantity</p>
        <p class="view-order text-center">OrderType</p>
        <p class="view-order text-center">Price</p>


      </div>
      <div class="row">
        <p class="view-order text-center"><input type="text" placeholder="Binance" disabled></p>
        <p class="view-order text-center"><input type="text" class="ortext" placeholder="Spot" disabled></p>
        <p class="view-order text-center"><input type="text" class="ortext" [(ngModel)]="assetpair"></p>
        <p class="view-order text-center"><input type="text" class="ortext" [(ngModel)]="quantity"></p>
        <p class="view-order text-center">
          <select class="ortext" style="width:82px;height:24px" (change)="getselloffertype($event.target.value);">
            <option value="1">Market</option>
            <option value="2">Limit</option>
          </select></p>
        <p class="view-order text-center"><input type="text" id="smprice" style="display: block;" class="ortext"
            disabled [(ngModel)]="assetprice"><input type="text" style="display: none;" id="slprice" class="ortext"
            [(ngModel)]="price"></p>
      </div>

      <button class="gen-button btnspace" (click)="modal.close()">cancel</button>
      <button class="gen-button btnspaceright" (click)="selloffer()">SELL</button>
    </div>
    <!-- <div class="modal-footer">
    <button class="gen-button" (click)="modal.close()">cancel</button>
    <button type="button" class="gen-button" (click)="modal.close()">Ok</button>
  </div> -->
  </div>
</ng-template>
<ng-template #buyconfirm let-modal>
  <div class="tests">
    <div></div>
    <div class="modal-header">
      <h4 class="modal-title"></h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
      <span class="min" style="color:rgba(255, 255, 255, 0.356);">_</span>
      <div class="header-dw">Order confirmation-send</div>
    </div>
    <div class="modal-body">
      <div class="row">
        <p class="view-order text-center">Exch</p>
        <p class="view-order text-center">Product</p>
        <p class="view-order text-center">Stock</p>
        <p class="view-order text-center">Quantity</p>
        <p class="view-order text-center">OrderType</p>
        <p class="view-order text-center">Price</p>
      </div>
      <div class="row">
        <p class="view-order text-center"><input type="text" placeholder="Binance" disabled></p>
        <p class="view-order text-center"><input type="text" class="ortext" placeholder="Spot" disabled></p>
        <p class="view-order text-center"><input type="text" class="ortext" [(ngModel)]="assetpair"></p>
        <p class="view-order text-center"><input type="text" class="ortext" [(ngModel)]="quantity"></p>
        <p class="view-order text-center">
          <select class="ortext" style="width:82px;height:24px" (change)=getoffertype($event.target.value); >
            <option value="1">Market</option>
            <option value="2">Limit</option>
          </select></p>
        <p class="view-order text-center"><input type="text" id="mprice" disabled style="display: block;" class="ortext"
            [(ngModel)]="assetprice"><input type="text" id="lprice" style="display: none;" class="ortext"
            [(ngModel)]="price"></p>

      </div>

      <button class="gen-button btnspace" (click)="modal.close()">CANCEL</button>
      <button class="gen-button btnspaceright" (click)="buyoffer()">BUY</button>
    </div>
    <!-- <div class="modal-footer">
    <button class="gen-button" (click)="modal.close()">cancel</button>
    <button type="button" class="gen-button" (click)="modal.close()">Ok</button>
  </div> -->
  </div>
</ng-template>