<div ngResizable ngDraggable class="drag-block-lg demosor-tab" id="demosor" style="display:block;">
  <!-- <button type="button" class="close" aria-label="Close" (click)="closedemosor()">
    <span aria-hidden="true">&times;</span>
  </button> -->
  <!-- <button class="btn"><i class="fa fa-folder"></i></button> -->
  <!-- <span class="min" style="color:rgba(255, 255, 255, 0.356);">_</span> -->
  <!-- <button class="minsor"  (click)="buttonclick()" ></button> -->
  <!-- <div class="header-dw">DemoSOR</div> -->
  <div id="flipsor">
    <label class="nametxt">DemoSOR</label>
  <button class="btnclose" (click)="closedemosor()" id="closesor"><i class="fa fa-close"></i></button>
  <button class="btnclose" (click)="closedemosorMax()" style="display: none;" id="closesorMax"><i class="fa fa-close"></i></button>
    <button class="btnclose" id="maximizesor" (click)="maximizewindow()"><i
      class="fa fa-window-maximize" aria-hidden="true"></i></button>
      <button class="btnclose" id="restoresor" style="display: none;" (click)="restorewindow()"><i class="fa fa-window-restore"
        aria-hidden="true"></i></button> 
    
        <!-- <button class="btnclose" id="restoresor1" style="display: none;" (click)="restorewindow1()"><i class="fa fa-window-restore"
          aria-hidden="true"></i></button>  -->
        <button class="btnclose" id="minimizesor" style="display: block;" (click)="buttonclick()"><i class="fa fa-window-minimize"
          aria-hidden="true"></i></button>  
  </div>
  <div id="panelsor">
    <div class="demosor-body">
      <div class="col-md-12 top-sp upper-spc">
        <div class="row">
          <!-- <div clas="col-md-3">
            <select class="form-control drln" id="bankno" required="">
              <option _ngcontent-c12="">Select Exchange</option>
              <option _ngcontent-c12="">Binance</option>
              <option _ngcontent-c12="">Paybito</option>
            </select>
          </div> -->
          <div clas="col-md-1">
            <!-- <input type="text" class="form-control left-sp form-input"> -->
            <select id="orderbook-coins" (change)="getAsset($event.target.value)" >
                 
              <option value="{{a.symbol}}" *ngFor="let a of assets">{{a.symbol}}</option>
              <option value="XRPUSDT">XRPUSDT</option>
             
            </select>
          </div>
          <div clas="col-md-1">
            <button class="gradient-button gradient-button-1 left-sp" (click)="getcomparativevalue()">ADD</button>
          </div>
          <div clas="col-md-1">
            <button class="left-sp gradient-button gradient-button-1" (click)="Deletcomparativevalue()">DELETE</button>
          </div>
          <!-- <div clas="col-md-1">
            <button class="left-sp gradient-button gradient-button-1">Amend</button>
          </div>
          <div clas="col-md-1">
            <button class="left-sp gradient-button gradient-button-1">Action</button>
          </div> -->

        </div>
      </div>
      <div class="table-space">
        <div class="table-msr" id="table-msr">
          <table style="width:100%;height: 100%;" class="table-bordered table-hover table-condensed">
            <thead>
              <tr>
                <th>Exchange</th>
                <th>Asset</th>
                <th>Bidprice</th>
                <!-- <th>BidQnt</th> -->
                <th>AskPrice</th>
                <th>Volume</th>
                <!-- <th>Volume</th> -->
                <th>Roc</th>
                <!-- <th>Open</th>
                <th>Low</th>
                <th>High</th>
                <th>Close</th> -->
                <th>Ltp</th>
                <!-- <th>Tanze</th> -->
                <!-- <th>Year High Price</th>
                <th>Year Low Price</th> -->

              </tr>
            </thead>
            <tbody>
              <tr>
              </tr>
              <tr *ngFor="let item of Binanceticker;let i = index;">
                  <td>Binance</td>
                <td>{{item.symbol}}</td>
                <td style="background-color: green;">
                  {{item.bestBid|number : '.3-3'}}</td>
                <td >
                  {{item.bestAskPrice|number : '.3-3'}}</td>
               
                <td>{{item.baseAssetVolume|number : '.2-2'}}</td>
                <td>{{item.roc|number : '.3-3'}}</td>
               
                <!-- <td>{{item.openPrice|number : '.3-3'}}</td>
                <td>{{item.lowPrice|number : '.3-3'}}</td>
                <td>{{item.highPrice|number : '.3-3'}}</td>
                <td>{{item.closePrice|number : '.3-3'}}</td> -->
                <td style="background-color:green;">{{item.previousClose|number : '.3-3'}}
                </td>
                <!-- <td *ngIf="item.action=='sell'" style="background-color:red">
                  {{item.ltp|number : '.3-3'}}</td> -->
                <!-- <td *ngIf="item.highLowFlag=='H'" style="margin-right:5px;"><img src="../../assets/img/up4.webp"
                    height="25px" width="25px"></td>
                <td *ngIf="item.highLowFlag=='L'" style="margin-right:5px;"><img src="../../assets/img/d2.jpg"
                    height="16px" width="16px"></td>
                <td *ngIf="item.highLowFlag=='E'" style="margin-right:5px;background-color:rgb(24, 23, 23);">
                </td> -->

                <!-- <td>{{item.yearHighPrice|number : '.3-3'}}</td>
                <td>{{item.yearLowprice|number : '.3-3'}}</td> -->

              </tr>
              <!-- <tr *ngIf="tickerasset==null||tickerasset==''" class="">
                <td class="">No Data</td>
              </tr> -->
            </tbody>
          </table>
        </div>

        <!-- <table style="width:100%">
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Age</th>
            <th>Age</th>
            <th>Age</th>
            <th>Age</th>
            <th>Age</th>
    
    
          </tr>
          <tr>
            <td>BUY</td>
            <td>BTCUSD</td>
            <td>BTCUSD</td>
            <td>BTCUSDESCRIPTION</td>
            <td>456678888</td>
            <td>808889999</td>
            <td>777777777</td>
    
          </tr>
          <tr>
            <td>BUY</td>
            <td>BTCUSD</td>
            <td>BTCUSD</td>
            <td>BTCUSDESCRIPTION</td>
            <td>456678888</td>
            <td>808889999</td>
            <td>777777777</td>
          </tr>
          <tr>
            <td>BUY</td>
            <td>BTCUSD</td>
            <td>BTCUSD</td>
            <td>BTCUSDESCRIPTION</td>
            <td>456678888</td>
            <td>808889999</td>
            <td>777777777</td>
          </tr>
          <tr>
            <td>BUY</td>
            <td>BTCUSD</td>
            <td>BTCUSD</td>
            <td>BTCUSDESCRIPTION</td>
            <td>456678888</td>
            <td>808889999</td>
            <td>777777777</td>
          </tr>
          <tr>
            <td>BUY</td>
            <td>BTCUSD</td>
            <td>BTCUSD</td>
            <td>BTCUSDESCRIPTION</td>
            <td>456678888</td>
            <td>808889999</td>
            <td>777777777</td>
          </tr>
          <tr>
            <td style="color: red !important;">BUY</td>
            <td style="color: red !important;">BTCUSD</td>
            <td style="color: red !important;">BTCUSD</td>
            <td style="color: red !important;">BTCUSDESCRIPTION</td>
            <td style="color: red !important;">456678888</td>
            <td style="color: red !important;">808889999</td>
            <td style="color: red !important;">777777777</td>
          </tr>
          <tr>
            <td>BUY</td>
            <td>BTCUSD</td>
            <td>BTCUSD</td>
            <td>BTCUSDESCRIPTION</td>
            <td>456678888</td>
            <td>808889999</td>
            <td>777777777</td>
          </tr>
          <tr>
            <td>BUY</td>
            <td>BTCUSD</td>
            <td>BTCUSD</td>
            <td>BTCUSDESCRIPTION</td>
            <td>456678888</td>
            <td>808889999</td>
            <td>777777777</td>
          </tr>
          <tr>
            <td>BUY</td>
            <td>BTCUSD</td>
            <td>BTCUSD</td>
            <td>BTCUSDESCRIPTION</td>
            <td>456678888</td>
            <td>808889999</td>
            <td>777777777</td>
          </tr>
          <tr>
            <td style="color: red !important;">BUY</td>
            <td style="color: red !important;">BTCUSD</td>
            <td style="color: red !important;">BTCUSD</td>
            <td style="color: red !important;">BTCUSDESCRIPTION</td>
            <td style="color: red !important;">456678888</td>
            <td style="color: red !important;">808889999</td>
            <td style="color: red !important;">777777777</td>
          </tr>
          <tr>
            <td>BUY</td>
            <td>BTCUSD</td>
            <td>BTCUSD</td>
            <td>BTCUSDESCRIPTION</td>
            <td>456678888</td>
            <td>808889999</td>
            <td>777777777</td>
          </tr>
          <tr>
            <td>BUY</td>
            <td>BTCUSD</td>
            <td>BTCUSD</td>
            <td>BTCUSDESCRIPTION</td>
            <td>456678888</td>
            <td>808889999</td>
            <td>777777777</td>
          </tr>
    
        </table> -->
      </div>
    </div>
  </div>

</div>