
 <div  style="width: 150px;margin-top: -24px;" >
  <button type="submit" class="btn btn-primary btn-block" style="margin-left: 90px">
    SIGN IN
  </button>
  <!-- <button class="close modal_close" id="btn-classic" type="button" mat-button (click)="onNoClick()">
    <mat-icon>close</mat-icon>
  </button> -->
  <div class="btn-classic">
    <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon" (click)="onNoClick()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  

</div>

   <!-- <h5>Get Access to the trade account</h5> -->
   <!-- <div class="login-box"></div> -->
   <div style="margin-top: 100px;">
  <div class="row">
    
      <form name="login_form"  #f="ngForm" (ngSubmit)="f.valid && login()">
        <!-- <span class="text-center" style="color: #f94e26;"></span> -->
    
        <div class="row">
     
            <!-- <div class="col-md-6">
              <label>Login Id: </label>
            </div> -->
            <div class="col-md-12" style="margin-left:60px;margin-bottom: 45px;">
              <input class="form-control" name="email" id="email" required style="width: 100%;height:37px" type="email" [(ngModel)]="email" placeholder="Email" autofocus>
            </div>
      
          </div>     

          <div class="row">
           
            <div class="col-md-12" style="margin-left: 60px;margin-bottom: 45px;">
              <input class="form-control" name="password" required type="password" style="width: 100%;height:37px" [(ngModel)]="password" autocomplete placeholder="Password">
            </div>
          </div>
      


        <button type="submit"  class="btn btn-primary btn-block" style="margin-left: 60px">
          LOG IN
        </button>
        <!-- <button type="button"  class="btn btn-primary btn-block" style="margin-left: 60px">
          CANCEL
        </button> -->
        <div class="p-1 mr-auto" style="margin-left:120px;margin-top: 20px;"><a routerLink="/secure-token">Forgot Password?</a></div>
     
          </form>
    
</div>
</div>
<div mat-dialog-actions>
  <!-- <button type="button" class="close" aria-label="Close" (click)="onNoClick()">
    <span aria-hidden="true">&times;</span>
  </button> -->
 </div>