/* .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .btn-position{
    position: absolute;
   
    right: 1px;  
  }
  .input-ln{
    width: 300px;
  }
 
 
  .login-box {
    height: 120px;
    width: 60px;
    border: 1px solid;
}

button.close-login {
  position: absolute;
  
  left: 899px;
  top: 54px;
} */
.tests{
  
  background-color: #cbdf19 !important;
  width:590px;
}
.hd-black{
  width:590px;
}
.header-sp{
 margin-right:-94px;
 color: rgb(117, 111, 111); 
 font-family: 'Times New Roman', Times, serif;
 font-size: 15px;
 margin-top: -4px;
}
.header-sp1{
  margin-right:-69px;
  color: rgb(117, 111, 111); 
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  margin-top: -4px;
 }
::ng-deep .mat-dialog-container {
  height: 450px !important;
  width: 400px !important;
  margin-top: 100px !important;
  border-radius: 20px;
  background-color: rgb(46, 48, 48);
  background-image:url('../../assets/img/background3.jpg')
 
}
::ng-deep .btn-classic{
  margin-left: 326px;
  margin-top: -40px;
  color: aliceblue;
}
.user-img{
  left: 529px;
  margin-top: -7px;
 
}
.user-img img{
  border-radius: 60px;
  border: 2px solid white;
}
/* scroll animation */
.ticker-data li{
 display: inline; 
 margin-left: 5px;
 margin-right: 10px;
 }

/* #user-tb  */

