<!-- <mat-toolbar color="primary">
  
    <mat-toolbar-row>
      <span>company Name & Logo</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
    </mat-toolbar-row>

  </mat-toolbar> -->
<!-- <button mat-button [matMenuTriggerFor]="menu">File</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openDialog()">login</button>
  <button mat-menu-item>Registration</button>
 
</mat-menu>
<button mat-button [matMenuTriggerFor]="menu1">View</button>
<mat-menu #menu1="matMenu">
  <button mat-menu-item (click)="_OrderbookComponent.opendatawindow()" >Data Window</button>
  <button mat-menu-item (click)="_MarketwatchComponent.openmarketwatch()">Announcement</button>
  <button mat-menu-item (click)="_ChartoneComponent.openchartone()">Chart One</button>
  
  <button mat-menu-item (click)="_CharttwoComponent.openwatchtwo()">trading Data</button>
  <button mat-menu-item (click)="_OrdershortcutComponent.openordershortcut()">Ordershortcut</button>
  <button mat-menu-item (click)="_DemosorComponent.opendemosor()">Demo SOR</button>
  <button mat-menu-item (click)="_TvChartContainerComponent.opentvchart()">Trading Chart</button>
  <button mat-menu-item (click)="load()">marketdata</button>
</mat-menu> -->
<div class="col-md-12 nav-spc">

  <!-- <div class="col-md-2 header-sp" style="color:#888484;" id="log-view" style="display: block;" (click)="openDialog()">
    <a class="ml-5"><img src="../../assets/img/login3.png" height="25px" width="25px">Login</a>

  </div>
  <div class="col-md-2 header-sp" style="color:#888484;" id="logout-view" style="display:block;" (click)="logout()">
    <a class="ml-5"><img src="../../assets/img/logout5.png" height="25px" width="25px">Logout</a>

  </div>

  <div class="col-md-2 header-sp" style="color:#888484;">
    <a class="ml-5"><img src="../../assets/img/marketprice.png" height="25px" width="25px">Market Price</a>
  </div>
  <div class="col-md-2 header-sp" style="color:#888484;">
    <a class="ml-5"><img src="../../assets/img/chart.png" height="25px" width="25px">Chart</a>
  </div>
  <div class="col-md-2 header-sp1" style="color:#888484;">
    <a class="ml-5"><img src="../../assets/img/ordershortcut.png" height="25px" width="25px">Order Shortcut</a>
  </div>
  <div class="col-md-2 header-sp" style="color:#888484;">
    <a class="ml-5"><img src="../../assets/img/Announcement.png" height="25px" width="25px">Announcement</a>
  </div>
  <div class="col-md-1 user-img">
    <h5>Welcome {{username}} !</h5>
    <a class="ml-5"><img src="../../assets/img/default.png" data-srcset="../../assets/img/default.png"
        data-src="../../assets/img/default.png" height="25px" width="25px"></a>
  </div> -->
  <div id="menu" style="float:left; width:80%; margin:0;padding:0;">
  <table>
    <tr>
      <td *ngIf='username==null'><a class="ml-5" (click)="openDialog()"><img src="../../assets/img/login3.png" height="25px" width="25px">Login</a></td>
      <td *ngIf='username!=null'><a class="ml-5" (click)="logout()"><img src="../../assets/img/logout5.png" height="25px" width="25px">Logout</a></td>
      <td><a class="ml-5" (click)="_TickerComponent.openTickerwindow()"><img src="../../assets/img/marketprice.png" height="25px" width="25px">Market Price</a></td>
      <td><a class="ml-5"  (click)="_TvChartContainerComponent.opentvchart()"><img src="../../assets/img/chart.png" height="25px" width="25px">Chart</a></td>
      <td><a class="ml-5" (click)="_OrdershortcutComponent.openordershortcut()"><img src="../../assets/img/ordershortcut.png" height="25px" width="25px">Order Shortcut</a></td>
      <td><a class="ml-5" (click)="_AnnouncementComponent.openmarketwatch()"><img src="../../assets/img/Announcement.png" height="25px" width="25px">Announcement</a></td>
     <td class="ml-10" ><img  class="ml-5" src="../../assets/img/setting2.jpg" height="24px" width="24px"><select style="background-color: black;color: white;" (change)="keymodal(Key,$event.target.value)"><option>Tools</option><option value="apikey" >APIKey settings</option></select></td> 
      <!-- <td class="text-white ml-5 text-right"  *ngIf='username!=null'>{{username}}</td>
      <td ><a class="ml-5 user-img"><img src="../../assets/img/default.png" data-srcset="../../assets/img/default.png"
        data-src="../../assets/img/default.png" height="25px" width="25px"></a></td> -->
    </tr>

  </table> 
</div>
  <div id="user-tb" style="float:left; width:20%; margin:0;">
  <table style="float:right;">
    <tr>
      <td><marquee width = "100%"><ul class="ticker-data"><li *ngFor="let item of shorcutdatafinal"><img src="../../assets/img/currency/{{item.symbol1}}.svg" height="15px" width="15px"
        style="margin-right:5px;margin-left: 5px;">{{item.symbol1}}{{item.symbol2}}  &nbsp;&nbsp;{{item.price}}</li></ul></marquee></td>
      <!-- <td><marquee width = "50%"><ul class="ticker-data"><li >item1</li><li >item2</li><li >item3</li></ul></marquee></td> -->
      <td class="text-white"  *ngIf='username!=null'>{{username}}</td>
      <td ><a class="user-img"><img src="../../assets/img/default.png" data-srcset="../../assets/img/default.png"
        data-src="../../assets/img/default.png" height="25px" width="25px"></a></td>
    </tr>

  </table> 
</div>
  </div>
  <ng-template #Key let-modal>
    <div class="tests">
      <div></div>
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
        <!-- <span class="min" style="color:rgba(255, 255, 255, 0.356);">_</span> -->
        <div class="header-modal hd-black">API Key Setting</div>
      </div>
      <div class="modal-body">
        <div class="row">
          <p class="view-offer text-center" style="width: 94px;">Exchange</p>
          <p class="view-offer text-center" style="width: 245px;">Api Key</p>
          <p class="view-offer text-center" style="width: 245px;">Secret Key</p>
         
  
        </div>
        <div class="row">
          <p class="view-order text-center" style="width: 91px;">
            <select class="ortext" style="width:92px;height:24px" (change)="getexchange($event.target.value);">
              <option value="Binance">Binance</option>
              <option value="Paybito">Paybito</option>
              </select></p>
          <p class="view-order text-center" style="width: 244px;"><input type="text" [value]="apikey" style="width: 246px;" id="apikey" placeholder="Api Key"></p>
          <p class="view-order text-center" style="width: 244px;"><input type="text"  [value]="secretkey" style="width: 245px;" id="secretkey" placeholder="***********"></p>
        </div>
  
        <!-- <button class="gen-button btnspace" (click)="modal.close()">OK</button> -->
        <button class="gen-button btnspace" (click)="saveKey();modal.close()">Save</button>

      
      </div>
     
    </div>
  </ng-template>