<!-- <app-loader></app-loader> -->

<div class="container-fluid">
  <div class="row d-flex content">
    <div  class="col-md-12" id="navbar">
      <app-navbar></app-navbar>
  </div>
    <div class="col-sm-4 fast-tab" id="orderbook-box">
      <div class="">
        <app-orderbook></app-orderbook> 
      </div>
    </div>

    <div class="col-sm-8 second-sp">
      <div  class="row d-flex">
        <div  class="col-md-10 pr-0 fill2">
          
            <app-ticker></app-ticker>
          
        </div>
        <div class="col-md-2 second-sp" id="shortcut-box">
          <div class="fill3">
            <app-ordershortcut></app-ordershortcut>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 pr-0">
          <div class="fill4">
            <app-tv-chart-container></app-tv-chart-container>
          </div>
        </div>
        <div class="col-md-6 second-sp">
          <div class="fill5">
            <app-demosor></app-demosor>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <footer class="container-fluid">
  <p>Footer Text</p>
</footer> -->
 
  

    <!-- <div id="navbar">
            <app-navbar></app-navbar>
        </div>
        <div id="left-tab">
            <div class="accordian">
               
                <app-announcement></app-announcement>
            </div>
        </div>
        <div class="wl">
            <app-ticker></app-ticker>
        </div>
        <div class="ticker">
            <app-ordershortcut></app-ordershortcut>
        </div>
        <div class="charts">
            
            <app-tv-chart-container></app-tv-chart-container>
        </div>
    <div class="demosor">
        <app-demosor></app-demosor>
    </div>
    <div class="announcement">
      
    </div> -->
    <!-- <div class="orderbook-tab">
            <app-orderbook></app-orderbook>
        </div>
        <div class="ticker-tab">
            <app-ticker></app-ticker>
        </div>
        <div class="sortcut-tab">
            
        </div> -->

    <!-- <div class="chart-tab">
                <app-tv-chart-container></app-tv-chart-container>
            </div> -->

    <!-- <div class="row">
            <div class="right-tab">

                <app-chartone></app-chartone>
                <app-charttwo></app-charttwo>
               

            </div>
            <div class="anouncement-tab">
           
               
            </div>
            <div class="chart-tab">
                <div class="row">
                    <div class="col-md-12">
                        
                    </div>

                </div>
                
            </div>
            <div class="demo-sor">
                <app-demosor></app-demosor>
            </div>

            <div class="order-tab">
               

            </div>

        </div> -->

