.marketwatch-tab{
    width:535px;
    height:220px;
    overflow-x: hidden;
    border:1px solid #000 ;
    bottom: 100px;
    background-color: rgb(26, 25, 25);;
    border:1px solid rgb(155, 158, 158) ;
    z-index: 999;
}
.header-dw{
    width: 100%;
    position: absolute;
    left: 1px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    height: 17px;
    font-size: 13px;
    color: rgb(97, 91, 91);
  }
button.close {
  position: sticky;
  left: 501px;
  margin-top: -6px;
  z-index: 1;
}
.ng-draggable {
    cursor: grab;
  }
   
  .ng-dragging {
    cursor: grabbing;
  }
  .anc-field{
      height: 100px;
      background-color: rgb(15, 15, 15);
  }
  .bodytop{
    height: 19px;
    background-color: rgb(23, 142, 179);
    margin-top: 21px;
    width: 100%;
    margin-left: 8px;
    color: rgb(255, 255, 255); 
font-family: 'Times New Roman', Times, serif;
font-size: 9px;
text-align: center;
padding-top: 4px;
border-left: 1px solid rgb(210, 208, 214);
border-right: 1px solid rgb(218, 216, 223);
border-top: 1px solid rgb(221, 219, 224);
    /* border-left: 1px solid rgb(103, 20, 236);
    border-right: 1px solid rgb(103, 20, 236);
    border-bottom: 1px solid rgb(103, 20, 236); */
  }
  .dscbody{
height: 40px;
background-color: rgb(7, 7, 7);
margin-bottom: -22px;

width: 100%;
margin-left: 8px;
color: rgb(117, 111, 111); 
font-family: 'Times New Roman', Times, serif;
font-size: 12px;
text-align: center;
border-left: 1px solid rgb(210, 208, 214);
border-right: 1px solid rgb(218, 216, 223);
border-bottom: 1px solid rgb(221, 219, 224);

  }
  