/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
/* html, body { height: 100%; } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
    background-color: #213636;
    border-color: #324b4b;
 } */
 .btn{padding: .275rem .75rem;color:white;}
  .btn-green{background:#00b75a !important;}
  .btn-red{background:#cc2d3d !important;}
  .btn-green.focus,.btn-green:focus,.btn-green.active,.btn-green:active,.btn-green:hover{outline:0;-webkit-box-shadow:0 0 0 .2rem rgba(34, 37, 41, 0.25);box-shadow:0 0 0 .2rem rgba(34, 37, 41, 0.25);background:#008a44;}
  .btn-red.focus,.btn-red:focus,.btn-red.active,.btn-red:active,.btn-red:hover{outline:0;-webkit-box-shadow:0 0 0 .2rem rgba(0,123,255,.25);box-shadow:0 0 0 .2rem rgba(0,123,255,.25);background:#b51020;}
  .btn-dark:not(:disabled):not(.disabled).active, .btn-dark:not(:disabled):not(.disabled):active, .show>.btn-dark.dropdown-toggle{
      color: #fff;
      background: #213636;
        border-color: #294141;
  }
  .btn-dark {
      color: #fff;
      background: #213636;
        border-color: #294141;
  }
  #orderbook-coins
   {
    width: 100%;
    margin: 0 0 10px;
    padding: 5px;
    background: #201f20;
    color: rgb(204, 201, 201);
    border: rgb(19,23,34);
    outline: none;
  }
  .login_btn
 /* {
    color: #fff;
    padding: .275rem .75rem!important;
    background-color: #4741b5;
    border-radius: 1.25rem!important;
   padding: .275rem .75rem !important;
 } */
 .login_btn:hover
 {
   color:#fff;
 }
 
 .modal_close{position: absolute;right: 0px;cursor: pointer; opacity: 1; min-width: 0; height: auto;}
 .modal_close span{color: rgb(199, 31, 31);}
 .modal_close span i{font-size: 21px;right: -30px;top: -0px;}
 
 /*  */
 .btn-sam{
  margin-right: 7px;
  margin-left: 42px;
  width: 120px;
  height: 26px;
  color: gray;
  font-size: small;
}
/* #tableone col { border-style: none solid } */
/* #tableone table { border:2px solid grey; } */
/* #tableone col.totals {} */
#tableoneO  table { table-layout: fixed }
#tableoneO col.totals { width: 6em }
#tableoneO th{ font-size: 10px;color:rgb(122, 120, 120);text-align: center; }
#tableoneO td{font-size: 10px;color:#fff;text-align: center;}

#tabletwo  table { table-layout: fixed }
#tabletwo col.totals { width: 10em }
#tabletwo th{ font-size: 9px;color:rgb(122, 120, 120);text-align: center; }
#tabletwo td{font-size: 10px;color:#fff;text-align: center;}

#table1 col { border-style: none solid }

#table1  table { table-layout: fixed }
#table1 col.totals { width: 4em }
#table1 th{font-family: arial, sans-serif;font-size: 12px;color:aliceblue;text-align: center; }
#table1 td{font-family: arial, sans-serif;font-size: 11px;color:rgb(11, 12, 12);text-align: center;}
#table1 td:first-child {
  background-image: linear-gradient(rgb(45, 164, 194),rgb(255, 255, 255))
   /* first column */ }
   #table1 td:first-child+td {
    background-image: linear-gradient(rgb(45, 164, 194),rgb(255, 255, 255))
     }
     #table1 td:first-child+td +td{
      background-image: linear-gradient(rgb(45, 164, 194),rgb(255, 255, 255))
        }
        #table1 td:first-child+td +td+td{
          background-image: linear-gradient(rgb(45, 164, 194),rgb(255, 255, 255))
            }
            #table1 td:first-child+td +td+td+td{
              background-image: linear-gradient(rgb(45, 164, 194),rgb(255, 255, 255))
                }
                #table1 td:first-child+td +td+td+td+td{
                  background-image: linear-gradient(rgb(45, 164, 194),rgb(255, 255, 255))
                    }
                    #table1 td:first-child+td +td+td+td+td+td{
                      background-image: linear-gradient(rgb(45, 164, 194),rgb(255, 255, 255))
                        }
                        #table1 td:first-child+td +td+td+td+td+td+td{
                          background-image: linear-gradient(rgb(45, 164, 194),rgb(255, 255, 255))
                            }
                            #table1 td:first-child+td +td+td+td+td+td+td+td+td{
                              background-image: linear-gradient(rgb(45, 164, 194),rgb(255, 255, 255))
                                }
                                #table1 td:first-child+td+td+td+td+td+td+td+td{
                                  background-image: linear-gradient(rgb(45, 164, 194),rgb(255, 255, 255))
                                    }
                                    #table1 td:first-child+td +td+td+td+td+td+td+td_td{
                                      background-image: linear-gradient(rgb(45, 164, 194),rgb(255, 255, 255))
                                        }
                                        /* ++++++++++ */
                                        #table7 col { border-style: none solid }

                                        #table7  table { table-layout: fixed }
                                        #table7 col.totals { width: 4em }
                                        #table7 th{font-family: arial, sans-serif;font-size: 12px;color:rgb(178, 178, 179);text-align: center; }
                                        #table7 td{font-family: arial, sans-serif;font-size: 11px;color:aliceblue;text-align: center;}
                                        /* #table7 td:first-child {
                                          background-image: linear-gradient(rgb(45, 164, 194),rgb(255, 255, 255))
                                            } */
                                           /* #table7 td:first-child+td {
                                            background-image: linear-gradient(rgb(45, 164, 194),rgb(255, 255, 255))
                                             }
                                             #table7 td:first-child+td +td{
                                              background-image: linear-gradient(rgb(45, 164, 194),rgb(255, 255, 255))
                                                }
                                                #table7 td:first-child+td +td+td{
                                                  background-image: linear-gradient(rgb(45, 164, 194),rgb(255, 255, 255))
                                                    } */
                                                    /* #table7 td:first-child+td +td+td+td{
                                                      background-image: linear-gradient(rgb(45, 164, 194),rgb(255, 255, 255))
                                                        }
                                                        #table7 td:first-child+td +td+td+td+td{
                                                          background-image: linear-gradient(rgb(45, 164, 194),rgb(255, 255, 255))
                                                            }
                                                            #table7 td:first-child+td +td+td+td+td+td{
                                                              background-image: linear-gradient(rgb(45, 164, 194),rgb(255, 255, 255))
                                                                }
                                                                #table7 td:first-child+td +td+td+td+td+td+td{
                                                                  background-image: linear-gradient(rgb(45, 164, 194),rgb(255, 255, 255))
                                                                    }
                                                                    #table7 td:first-child+td +td+td+td+td+td+td+td+td{
                                                                      background-image: linear-gradient(rgb(45, 164, 194),rgb(255, 255, 255))
                                                                        }
                                                                        #table7 td:first-child+td+td+td+td+td+td+td+td{
                                                                          background-image: linear-gradient(rgb(45, 164, 194),rgb(255, 255, 255))
                                                                            }
                                                                            #table7 td:first-child+td +td+td+td+td+td+td+td_td{
                                                                              background-image: linear-gradient(rgb(45, 164, 194),rgb(255, 255, 255))
                                                                                } */

                                        /* +++++++++++ */
/* #table2 col { border-style: none solid } */
#table2 table { border:2px solid grey; }
#table2  table { table-layout: fixed }
#table2 col.totals { width: 6em }
#table2 th{ font-family: arial, sans-serif;font-size: 12px;color:rgb(124, 119, 119);text-align: center; }
#table2 td{font-family: arial, sans-serif;font-size: 11px;color:#fff;text-align: center;}
/* #table2 col { border-style: none solid } */
/* #table2 table { border:2px solid grey; } */

div#table2 {
  margin-top: 8px;
}
/* #tabletwo col.totals {} */

/* #tabletwo .tbl-space{
  margin-left: -18px;
  margin-right: -21px;
} */
.gen-button {
  transition-duration: 0.4s;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 6PX;
  background-color: #525555;
  width: 76px;
  height: 28px;
  font-size: 14px;
}
.view-order{
  border-top: 1px solid rgb(117, 111, 111);
  border-right: 1px solid rgb(117, 111, 111);
  border-left: 1px solid rgb(117, 111, 111);

  color: rgb(54, 51, 51); 
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  width: 81px;
  margin-bottom: 0px;
  padding:0px;
  margin-left: 1px;
  }
  .view-offer{
    border-top: 1px solid rgb(117, 111, 111);
    border-right: 1px solid rgb(117, 111, 111);
    border-left: 1px solid rgb(117, 111, 111);
  
    color: rgb(54, 51, 51); 
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    width: 165px;
    margin-bottom: 0px;
    padding:0px;
    cursor: pointer;
   
    }
    .btnspace{
      margin-left: 178px;
      margin-top: 10px;
    }
    /* end modal */
.gen-button:hover {
  background-color: #7e817e; /* Green */
  color: white;
}
.alert{
  min-width: 100px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  z-index: 999999 !important;
}
.alert:hover{
  background: crimson;
  color: white;
}
.alertPlace{
  display: hidden;
  position: fixed;
  z-index: 999999 !important;
    bottom: 2em;
    right: 2em;
}
.alertPlacem{
  display: hidden;
  position: fixed;
  z-index: 999999 !important;
    bottom: 2em;
    right: 2em;
}
.alert-top{
  bottom:35em ;
}
.drln {
  width: 155px;
}

.form-control::-webkit-input-placeholder {color: rgb(248, 248, 248);opacity: 1;}
  .form-control::-moz-placeholder {color: rgb(248, 248, 248);opacity: 1;}
  .form-control:-ms-input-placeholder {color: rgb(248, 248, 248);opacity: 1;}
  .form-control::-ms-input-placeholder {color: rgb(248, 248, 248);opacity: 1;}
  .form-control::placeholder {color: rgb(248, 248, 248);opacity: 1;}
  .form-control:-ms-input-placeholder {color: rgb(255, 255, 255);}
  .form-control::-ms-input-placeholder {color: rgb(253, 253, 253);}
  .form-control {
    
    color: rgb(139, 135, 135);
    background-color: #030303;
    border: 1px solid #131722;
     height: 22px;
    width: 122px;

  }
  .form-control:focus{
      color:rgb(139, 135, 135);
      background-color:#141414;
      border-color:#39393a;
      -webkit-box-shadow:0 0 2px .1rem rgba(48, 56, 65, 0.25);
              box-shadow:0 0 2px .1rem rgba(48, 56, 65, 0.25)
  }
  
  .form-control {
      font-size: 12px;
      height: 26px;
  }
  .form-input{
    width: 50px;
  }
  .upper-spc{
    height: 48px;
    background-color: rgb(19,23,34);
    border: 1px solid rgb(105, 102, 102);
    padding-top: 2px;
     padding-top: 9px;
     width: 100%;
     padding-right: 1px;
  }
  .nav-spc{
    height: 35px;
    background-color: rgb(19,23,34);
    border: 1px solid rgb(105, 102, 102);
    color:rgb(151, 153, 156);
    font-family: Roboto, "Helvetica Neue";
    font-size: 13px;
    cursor: pointer;
    /* padding-top: 2px;
     padding-top: 9px; */
     /* width: 100%; */
  }
  .left-sp{
    margin-left: 7px;
  }
  .gradient-button {
    margin-top: 1px;
    font-family: "Arial Black", Gadget, sans-serif;
    
    font-size: 10px;
    /* padding: 10px !important; */
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(24, 23, 23);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 79px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 6px;
   height: 25px;
   
}

.gradient-button-1 {background-image: linear-gradient(to right, #474546 0%, #d4d3d1 51%, #271e21 100%)}
body{
     /* overflow-x: hidden;
    overflow-y: auto; */
    /* margin: 0; padding: 0; */
    background-color:rgb(19,23,34);
    /* overflow: auto;
    height:768px;
    width: 100%; */
}
@media screen and (max-width: 767px) {
      
  .row.content {height: auto;} 
}
.row.content {height: 800px}

/* loader */
.sk-chase {
  width: 40px;
  height: 40px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
  animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); 
  } 100%, 0% {
    transform: scale(1.0); 
  } 
}
.loading-mask{
  height: 150%;
  width: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 9;
  position: fixed;
}

.loading-mask > .img{
  position: relative;
  top: 30%;
  left: 50%;
  /* -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%); */
}
.loading-mask >.load-position{
  margin-right: 1256px !important;
  margin-top: 55px !important;
}
/* end loader */
    /* position: relative;
    top: 64%;
    left: 106%;
    transform: translate(-50%,-50%);
} */
.nametxt{
  text-align: center;
  font-size: 15px;
  margin-bottom: 1px;

}
.btnclose {
  background-color: rgb(27, 27, 27);
  border: none;
  color: white;
  padding: 0px 14px;
  margin-right: 10px;
float: right;
  font-size: 16px;
  cursor: pointer;
}


/* Darker background on mouse-over */
.btnclose:hover {
  background-color: rgb(121, 123, 126);
}
.header-modal{
  width: 100%;
  position: absolute;
  left: 1px;
  background-color: rgb(0, 0, 0);
  text-align: center;
  height: 17px;
  font-size: 13px;
  color:  rgb(175, 170, 170);
  margin-top: -16px;
  margin-left: -1px;
}